/bocser/__pycache__/

*.gbw
slurm*

dihedral_logs.db
grad_log
out.log
test.py
test.ipynb
.ipynb_checkpoints/

# Testing results
tests/**/*
!tests/**/

!tests/**/*_all_points.json
!tests/**/*_clustering_results.json
!tests/**/*_final_ensemble.xyz
!tests/**/*.mol
!tests/**/*config.yaml